<section id="intro-container">
    <div>The <span id='day-counter'>1</span> days</div>
    <div id="seperator">of</div>
    <div class="pretty-font">Something</div>
</section>

<section id="calender-container">
    <div class="calender-item" data-day="1">
        <div class="front">
            <p>1</p>
        </div>
        <div class="back">
            back
        </div>
    </div>
    <div class="calender-item" data-day="2">
        <div class="front">
            <p>2</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="3">
        <div class="front">
            <p>3</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="4">
        <div class="front">
            <p>4</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="5">
        <div class="front">
            <p>5</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="6">
        <div class="front">
            <p>6</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="7">
        <div class="front">
            <p>7</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="8">
        <div class="front">
            <p>8</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="9">
        <div class="front">
            <p>9</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="10">
        <div class="front">
            <p>10</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="11">
        <div class="front">
            <p>11</p>
        </div>
        <div class="back">

        </div>
    </div>
    <div class="calender-item" data-day="12">
        <div class="front">
            <p>12</p>
        </div>
        <div class="back">

        </div>
    </div>
</section>
