<section id="intro-container">
    <div>The <span id='day-counter'>1</span> days</div>
    <div id="seperator">of</div>
    <div class="snow-font">Something</div>
</section>

<section id="calender-container">

    {% for day in site.data.days %}

    <div class="outer-wrapper">
        <div class="calender-item redeemed" data-day="{{ day.date }}">
            <div class="front">
                <p class="snow-font">{{ day.day }}</p>
            </div>
            <div class="back">
                <h1><span class="snow-font">{{ day.day }}</span>{{ day.title }}</h1>
            </div>
        </div>
    </div>

    {% endfor %}

</section>
