/* COLOUR VARIABLES */


/********************/

/* FONT VARIABLES */

$mainFontStyle: 'Dancing Script', cursive;
$redeemFontStyle: 'Roboto', sans-serif;
$fontSize: 20px;

@font-face{
	font-family: 'snowFont';
	src: url('../fonts/almontesnow.eot');
	src: url('../fonts/almontesnow.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/almontesnow.woff') format('woff'),
	     url('../fonts/almontesnow.ttf') format('truetype');
}

/******************/


/* FULL ELEMENT SELECTORS */

*{
    box-sizing: border-box;
}

body{
	font-family: $mainFontStyle;
	font-size: $fontSize;
	background-color: #f9f9f9;
    color: #333;
}

h1{
    margin: 0;
    padding: 0;
}

h2,h3{
    letter-spacing: 0.5px;
}

a{
	text-decoration: none;
    &:link{
        color: currentColor;
    }
    &:visited{
        color: currentColor;
    }
}

p{
    letter-spacing: 0.5px;
}

article,
figure{
    margin: 0;
    padding: 0;
}

button{
    border: none;
    background-color: transparent;
    &:focus{
        outline: 0;
    }
}

/* CLEAR FLOATS CLASS */
.clear-float{
    clear: both;
}

/**************************/
