body{
	background-color: #3481cf;
	background-image: url('../imgs/snow.png'), url('../imgs/snow2.png'), url('../imgs/snow3.png');
	animation: snow 20s linear infinite;
}

@keyframes snow{
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: 500px 1000px, -400px 400px, 300px 300px;}
}

.shake{
	animation-name: shake;
	animation-duration: 0.8s;
	transform-origin:50% 50%;
	animation-timing-function: linear;
}

@keyframes shake{
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#intro-container{
	width: 80%;
	margin: 20px auto;
	text-align: center;
}

#intro-text{
	font-size: 450%;
	color: #e22323;
}

#seperator{
	font-size: 200%;
	color: #e22323;
}

#indymass{
	margin-top: 15px;
	font-size: 400%;
	letter-spacing: 45px;
	color: #e22323;
}

#day-counter{
	font-weight: bold;
}

.snow-font{
	font-family: snowFont;
	color: #3481cf;
}

#calender-container{
	width: 70%;
	max-width: 1140px;
	margin: 0 auto 40px auto;
	display: flex;
	flex-wrap: wrap;
}

.outer-wrapper{
	width: 25%;
	height: 0;
	padding-bottom: 25%;
	flex: auto;
	position: relative;
}

.calender-item{
	position: absolute;
	width: 96%;
	height: 96%;
	margin: 2% auto 0 auto;
	padding: 0 8px;
	right: 0;
	left: 0;
	background-color: #423f3f;
	border-radius: 3px;
	transition: 0.6s;
	perspective: 1000px;
	transform-style: preserve-3d;

	.front,
	.back{
		backface-visibility: hidden;
		color: black;
	}
	.front{
		z-index: 2;
		p{
			text-align: center;
			margin-top: 20px;
			font-size: 250%;
		}
		.holy{
			backface-visibility: hidden;
			width: 60px;
			position: absolute;
			transform: rotate(90deg);
			top: 5px;
			left: 5px;
		}
		.festive-image{
			backface-visibility: hidden;
			width: 70px;
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
	}
	.back{
		transform: rotateY(180deg);
		text-align: center;
		color: #3481cf;
		h1{
			margin-top: -105px;
			font-size: 150%;
			font-weight: lighter;
			span{
				display: block;
				width: 30%;
				font-size: 140%;
				font-weight: normal;
				line-height: 35px;
				margin: 0 auto 3px auto;
			}
		}
		.clue-image{
			margin-top: 10px;
			width: 60px;
		}
	}
}

@media only screen and (max-width: 1300px){
	.outer-wrapper{
		width: 33%;
		padding-bottom: 33%;
	}
}

@media only screen and (max-width: 995px){
	#indymass{
		font-size: 280%;
		letter-spacing: 30px;
	}
	#intro-text{
		font-size: 400%;
	}

	#seperator{
		font-size: 150%;
	}
}

@media only screen and (max-width: 860px){
	.outer-wrapper{
		width: 50%;
		padding-bottom: 50%;
	}
}

@media only screen and (max-width: 630px){
	.outer-wrapper{
		width: 100%;
		padding-bottom: 100%;
	}
	#indymass{
		font-size: 200%;
		letter-spacing: 20px;
	}
	#intro-text{
		font-size: 350%;
	}

	#seperator{
		font-size: 100%;
	}
}

.calender-item.flipped{
	transform: rotateY(180deg);
}

#footer{
	text-align: center;
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 40px;
}

.redeemed:after{
	font-family: $redeemFontStyle;
	content: 'REDEEMED';
	font-size: 80%;
	font-weight: bold;
	border: 2px solid black;
	box-shadow: 1px 1px 2px 0px black, -1px -1px 2px 0px black;
	padding: 2px;
	margin: 10px 15px 0 0;
	float: right;
	transform: rotate(-35deg);
}
